<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InfinniPlatform.Scheduler" version="1.10.0.1098-master" targetFramework="net452" />
  <package id="InfinniPlatform.Sdk" version="1.10.0.1098-master" targetFramework="net452" />
  <package id="InfinniPlatform.Watcher" version="1.0.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Quartz" version="3.0.0-alpha2" targetFramework="net452" />
</packages>