<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InfinniPlatform.BlobStorage" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.Caching" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.DocumentStorage" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.Http" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.MessageQueue" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.Plugins.ViewEngine" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.PrintView" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.PushNotification" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.Scheduler" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.Sdk" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="InfinniPlatform.Watcher" version="1.12.0.1304-extensions" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.3.2" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.3.2" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.4.0" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.4.0" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Quartz" version="3.0.0-alpha2" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net452" />
  <package id="Sider" version="0.10.2.22156" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.3.0" targetFramework="net452" />
  <package id="System.Reflection.Metadata" version="1.4.1" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="net452" />
</packages>